BODY
{
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	font: 12px arial;
	cursor: default;
	color: #000000;
	padding-top: 0px;
	text-align: center;
}

TD
{
	font: 12px arial;
	cursor: default;
	color: #000000;
}
TABLE
{
	text-align: left;
}
H1
{
	margin: 0px;
	font: bold 16px Arial;
	color: #000000;
}
H2
{
	margin: 0px;
	font: bold 15px Arial;
	color: #000000;
}
H3
{
	margin: 0px;
	font: bold 13px arial;
	color: #000000;
}
H4
{
	margin: 0px;
	font: bold 12px arial;
	color: #000000;
}
H5
{
	margin: 0px;
	font: bold 12px arial;
	color: #000000;
}
H6
{
	margin: 0px;
	font: bold 10px arial;
	color: #000000;
}
A
{
	color: navy;
	text-decoration: none;
}
A:visited
{
	color: navy;
	text-decoration: none;
}
A:hover
{
	color: #0000FF;
	text-decoration: none;
}
A.devlink2
{
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	font: 12px arial;
	color: #000000;
	padding-top: 0px;
	text-decoration: none;
}
A.devlink2:visited
{
	font: 12px arial;
	color: #000000;
	text-decoration: none;
}
A.devlink2:hover
{
	font: 12px arial,;
	color: #000000;
	text-decoration: underline;
}
TEXTAREA
{
	border-right: #7f9db9 1px solid;
	padding-right: 1px;
	border-top: #7f9db9 1px solid;
	padding-left: 1px;
	padding-bottom: 1px;
	font: 12px tahoma,arial,helvetica;
	border-left: #7f9db9 1px solid;
	padding-top: 1px;
	border-bottom: #7f9db9 1px solid;
}
INPUT
{
	font: 12px tahoma,arial,helvetica;
}
SELECT
{
	font: 12px tahoma,arial,helvetica;
	color: #7f9db9;
}
.text
{
	font: 12px arial;
	color: #000000;
}
.text10
{
	font: 10px arial;
	color: #000000;
}
.text11
{
	font: 12px arial;
	color: #000000;
}
.text11b
{
	font: bold 12px arial;
	color: #000000;
}
.text13b
{
	font: bold 13px arial;
	color: #000000;
}
.text16b
{
	font: bold 16px Arial;
	color: #0000FF;
}
.optitle
{
	border-right: #969696 1px solid;
	padding-right: 2px;
	border-top: #969696 1px solid;
	margin-top: 23px;
	padding-left: 10px;
	margin-bottom: 5px;
	padding-bottom: 2px;
	font: bold 12px Arial;
	border-left: #969696 1px solid;
	color: #666666;
	padding-top: 2px;
	border-bottom: #969696 1px solid;
	background-color: #eeeeee;
}
.opdesc
{
	padding-left: 5px;
	padding-bottom: 15px;
	font: 12px arial;
	color: #000000;
	padding-top: 15px;
}
.opholder
{
	padding-left: 20px;
	font: 12px arial;
	color: #000000;
}
.opend
{
	border-right: #969696 1px solid;
	padding-right: 1px;
	border-top: #969696 1px solid;
	margin-top: 20px;
	padding-left: 1px;
	margin-bottom: 10px;
	padding-bottom: 1px;
	border-left: #969696 1px solid;
	padding-top: 1px;
	border-bottom: #969696 1px solid;
	background-color: #eeeeee;
}
.cssbluebutton
{
	border-right: #aaaaaa 1px solid;
	padding-right: 2px;
	border-top: #aaaaaa 1px solid;
	padding-left: 2px;
	padding-bottom: 2px;
	font: 10px arial;
	border-left: #aaaaaa 1px solid;
	width: 50px;
	cursor: hand;
	padding-top: 2px;
	border-bottom: #aaaaaa 1px solid;
	background-color: #eeeeee;
	text-align: center;
	text-decoration: none;
}
.cssbluebuttonDown
{
	border-right: #444444 1px solid;
	padding-right: 2px;
	border-top: #444444 1px solid;
	padding-left: 2px;
	padding-bottom: 2px;
	font: 10px tarial;
	border-left: #444444 1px solid;
	width: 50px;
	cursor: hand;
	padding-top: 2px;
	border-bottom: #444444 1px solid;
	background-color: #dddddd;
	text-align: center;
	text-decoration: none;
}
.cssbluebutton A
{
	color: #000000;
	text-decoration: none;
}
.cssbluebutton A:visited
{
	color: #000000;
	text-decoration: none;
}
.cssbluebuttonDown A
{
	color: #000000;
	text-decoration: none;
}
.formbutton
{
	border-right: #333333 1px solid;
	border-top: #333333 1px solid;
	background-image: url(http://images.bravenet.com/common/images/button_shadow.gif);
	font: 12px arial;
	border-left: #333333 1px solid;
	border-bottom: #333333 1px solid;
	height: 18px;
	background-color: #eeeeee;
}
.sidebarcontent
{
	font: 12px arial;
	background-color: #f3f3f3;
}
.sidebartitle
{
	padding-right: 2px;
	padding-left: 8px;
	padding-bottom: 3px;
	font: bold 10px arial;
	padding-top: 2px;
	text-align: left;
}
.sidebartitle_grey
{
	border-top-width: 0px;
	padding-left: 5px;
	border-left-color: #999999;
	border-bottom-width: 0px;
	border-bottom-color: #999999;
	color: #000000;
	border-top-color: #999999;
	background-color: #f3f3f3;
	border-right-color: #999999;
}
.dropMenu
{
	border-right: #999999 1px solid;
	background-position: right bottom;
	filter: alpha(opacity=95);
	padding-bottom: 3px;
	border-left: #999999 1px solid;
	width: 166px;
	padding-top: 3px;
	border-bottom: #999999 1px solid;
	background-repeat: no-repeat;
	position: relative;
	background-color: #fafafa;
	text-align: left;
	moz-opacity: .80;
}
.dropMenuItem
{
	border-right: #fafafa 1px solid;
	border-top: #fafafa 1px solid;
	padding-left: 19px;
	font: 12px tahoma,arial;
	margin-left: 3px;
	border-left: #fafafa 1px solid;
	margin-right: 3px;
	border-bottom: #fafafa 1px solid;
	background-color: #fafafa;
}
.dropMenuItemOver
{
	border-right: #557fd7 1px solid;
	border-top: #557fd7 1px solid;
	padding-left: 19px;
	font: 12px Tahoma, Arial;
	margin-left: 3px;
	border-left: #557fd7 1px solid;
	margin-right: 3px;
	border-bottom: #557fd7 1px solid;
	background-color: #e4ebf9;
}
A.dropMenuLink
{
	color: #444444;
	text-decoration: none;
}
A.dropMenuLink:visited
{
	color: #444444;
	text-decoration: none;
}
A.dropMenuLink:hover
{
	color: #444444;
	text-decoration: none;
}
A.bluelink
{
	font: bold 12px arial;
	color: #004891;
	text-decoration: none;
}
A.bluelink:visited
{
	font: bold 12px arial;
	color: #004891;
	text-decoration: none;
}
A.bluelink:hover
{
	font: bold 12px arial;
	color: #004891;
	text-decoration: underline;
}
A.bluelink2
{
	font: 12px arial;
	color: #004891;
	text-decoration: none;
}
A.bluelink2:visited
{
	font: 12px arial;
	color: #004891;
	text-decoration: none;
}
A.bluelink2:hover
{
	font: 12px arial;
	color: #004891;
	text-decoration: underline;
}
.main_service_list
{
	border-right: #ffffff 0px solid;
	border-top: #ffffff 0px solid;
	padding-left: 5px;
	padding-bottom: 1px;
	font: 12px arial;
	border-left: #ffffff 0px solid;
	cursor: hand;
	padding-top: 1px;
	border-bottom: #ffffff 0px solid;
	background-color: #ffffff;
}
.main_service_list_over
{
	border-right: #557fd7 1px solid;
	border-top: #557fd7 1px solid;
	padding-left: 4px;
	font: 12px arial;
	border-left: #557fd7 1px solid;
	cursor: hand;
	border-bottom: #557fd7 1px solid;
	background-color: #e4ebf9;
}
.textindent
{
	padding-left: 15px;
	vertical-align: top;
}
.pageselect
{
	font: bold 12px arial;
	color: #0377fd;
}
.code3
{
	border-right: #b3b3b3 1px solid;
	border-top: #b3b3b3 1px solid;
	font: 12px Arial;
	border-left: #b3b3b3 1px solid;
	width: 200px;
	color: #222222;
	border-bottom: #b3b3b3 1px solid;
	height: 200px;
	background-color: #f3f6fb;
	text-align: left;
}
.sponsorlinks
{
	margin-top: 5px;
	margin-left: 10px;
	width: 240px;
	text-align: left;
}
.sponsorlinks_title
{
	font: bold 10px arial;
	color: #ffffff;
}
.sponsorlinks A
{
	font: 10px arial;
	color: #004891;
	text-decoration: underline;
}
.sponsorlinks A:visited
{
	font: 10px arial;
	color: #004891;
	text-decoration: underline;
}
.sponsorlinks A:hover
{
	font: 10px arial;
	color: #004891;
	text-decoration: underline;
}
A.sponsorlinks_desc
{
	font: 10px arial;
	color: #000000;
	text-decoration: none;
}
A.sponsorlinks_desc:visited
{
	font: 10px arial;
	color: #000000;
	text-decoration: none;
}
A.sponsorlinks_desc:hover
{
	font: 10px arial;
	color: #000000;
	text-decoration: none;
}
A.sub
{
	font: 12px arial;
	color: #666666;
	text-decoration: none;
}
A.link1
{
	font: 12px arial;
	color: #ffffff;
	text-decoration: none;
}
A.link1:visited
{
	font: 12px arial;
	color: #ffffff;
	text-decoration: none;
}
A.link1:hover
{
	font: 12px arial;
	color: #ffffff;
	text-decoration: underline;
}
A.link2
{
	font: bold 12px arial;
	color: red;
	text-decoration: none;
}
A.link2:visited
{
	font: bold 12px arial;
	color: red;
	text-decoration: none;
}
A.link2:hover
{
	font: bold 12px arial;
	color: red;
	text-decoration: underline;
}
A.link3
{
	font: bold 12px arial;
	color: white;
	text-decoration: none;
}
A.link3:visited
{
	font: bold 12px arial;
	color: white;
	text-decoration: none;
}
A.link3:hover
{
	font: bold 12px arial;
	color: white;
	text-decoration: underline;
}
A.link4
{
	font: 12px arial;
	color: #cc0000;
	text-decoration: none;
}
A.link4:visited
{
	font: 12px arial;
	color: #cc0000;
	text-decoration: none;
}
A.link4:hover
{
	font: 12px arial;
	color: #ff6600;
	text-decoration: underline;
}

A.path
{
	font: bold 10pt arial;
	color: #004080;
	text-decoration: none;
}
A.path:visited
{
	font: 10pt arial;
	color: #004080;
	text-decoration: none;
	font-weight:bold;
}
A.path:hover
{
	font: 10pt arial;
	color: #004080;
	text-decoration: none;
	font-weight:bold;
}

A.link5
{
	font: bold 11px arial;
	color: black;
	text-decoration: none;
}
A.link5:visited
{
	font: bold 11px arial;
	color: black;
	text-decoration: none;
}
A.link5:hover
{
	font: bold 11px arial;
	color: black;
	text-decoration: underline;
}
A.link6
{
	font: 11px arial;
	color: #003063;
	text-decoration: none;
}
A.link6:visited
{
	font: 11px arial;
	color: #003063;
	text-decoration: none;
}
A.link6:hover
{
	font: 11px arial;
	color: #ff6600;
	text-decoration: underline;
}
A.link7
{
	font: 11px arial;
	color: white;
	text-decoration: none;
}
A.link7:visited
{
	font: 11px arial;
	color: white;
	text-decoration: none;
}
A.link7:hover
{
	font: 11px arial;
	color: white;
	text-decoration: underline;
}
A.link8
{
	font: 11px arial;
	color: #191970;
	text-decoration: none;
}
A.link8:visited
{
	font: 11px arial;
	color: #191970;
	text-decoration: none;
}
A.link8:hover
{
	font: 11px arial;
	color: #191970;
	text-decoration: underline;
}
A.link9
{
	font: bold 14px arial;
	color: red;
	text-decoration: none;
}
A.link9:visited
{
	font: bold 14px arial;
	color: red;
	text-decoration: none;
}
A.link9:hover
{
	font: bold 14px arial;
	color: red;
	text-decoration: underline;
}
A.link10
{
	font: 12px arial;
	color: white;
	text-decoration: underline;
}
A.link10:visited
{
	font: 12px arial;
	color: white;
	text-decoration: underline;
}
A.link10:hover
{
	font: 12px arial;
	color: white;
	text-decoration: none;
}
A.link11
{
	font: 12px arial;
	color: black;
	text-decoration: none;
}
A.link11:visited
{
	font: 12px arial;
	color: black;
	text-decoration: none;
}
A.link11:hover
{
	font: 12px arial;
	color: #696969;
	text-decoration: none;
}
A.link12
{
	font: 12px arial;
	color: white;
	text-decoration: none;
}
A.link12:visited
{
	font: 12px arial;
	color: white;
	text-decoration: none;
}
A.link12:hover
{
	font: 12px arial;
	color: #00ccff;
	text-decoration: underline;
}
A.link13
{
	font: 16px arial;
	color: #cc0000;
	text-decoration: none;
	font-weight: bold;
}
A.link13:visited
{
	font: 16px arial;
	color: #cc0000;
	text-decoration: none;
	font-weight: bold;
}
A.link13:hover
{
	font: bold 12px Tahoma, Arial;
	color: #cc0000;
	text-decoration: underline;
	font-weight: bold;
}
A.link14
{
	font: bold 12px Tahoma, Arial;
	color: #0000FF;
	text-decoration: none;
}
A.link14:visited
{
	font: bold 12px Tahoma, Arial;
	color: #0000FF;
	text-decoration: none;
}
A.link14:hover
{
	font: bold 12px Tahoma, Arial;
	color: #ff6600;
	text-decoration: underline;
}
.titleboximage1
{
	border-right: #dadada 1px solid;
	border-top: #dadada 1px solid;
	border-left: #dadada 1px solid;
	color: black;
	border-bottom: #dadada 1px solid;
	font-style: normal;
}
.titleboximage2
{
	border-right: #cfe8ce 1px solid;
	border-top: #cfe8ce 1px solid;
	border-left: #cfe8ce 1px solid;
	color: black;
	border-bottom: #cfe8ce 1px solid;
	font-style: normal;
}
.titleboximage3
{
	border-right: #666666 1px solid;
	border-top: #666666 1px solid;
	border-left: #666666 1px solid;
	color: black;
	border-bottom: #666666 1px solid;
	font-style: normal;
}
.titleboximage4
{
	border-right: #4169e1 1px solid;
	border-top: #4169e1 1px solid;
	border-left: #4169e1 1px solid;
	color: black;
	border-bottom: #4169e1 1px solid;
	font-style: normal;
}

.indexstorytext
{
	font-size: 13px;
	padding-bottom: 4px;
	padding-right: 2px;
	color: #000000;
	font-family: Arial,Helvetica,sans-serif;
}
.style1
{
	color: #ffffff;
}
.style4
{
	color: #666699;
}
.style3
{
	font-weight: bold;
	color: #ff33cc;
}
.style6
{
	font-size: 12px;
}
.style10
{
	font-size: 12px;
	color: #FFFFFF;
	font-weight: bold;
}
.style11
{
	color: #FFFFFF;
}
.style13
{
	color: #000000;
}
.style15
{
	font-size: 12px;
	color: #FF0000;
	font-weight: bold;
}

.home_subtitle
{
	font-weight: bold;
	font-size: 12px;
	left: 2px;
	color: dimgray;
	padding-top: 3px;
	font-family: Tahoma,Arial, Georgia, Times;
	position: relative;
	text-decoration: underline;
}
.author
{
	color: #606060;
	font-weight: bold;
	font-size: 12px;
	font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
	padding-top: 4px;
	padding-bottom: 2px;
}
.pic_explain
{
	color: black;
	font-size: 12px;
	font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
	text-align: justify;
}
/* Weather CSS */
.clTable
{
	border-left-color: #7ea9f2;
	border-bottom-color: #7ea9f2;
	border-top-style: none;
	border-top-color: #7ea9f2;
	border-right-style: none;
	border-left-style: none;
	background-color: transparent;
	border-right-color: #7ea9f2;
	border-bottom-style: none;
}
.clTableList
{
	
	background-color: white;
}
.clHeader
{
	font-weight: bold;
	font-size: 13px;
	background-image: none;
	color:#FFFFFF;
	font-family: Tahoma, Arial;
	text-align: center;
	background-color: #076500;	
}
.clItem1
{
	font-size: 12px;
	font-family: Arial;
	background-color: #e3ebfa;
}
.clItem2
{
	font-size: 12px;
	font-family: Arial;
	background-color: #ffffec;
	text-align: center;
}
.clItem3
{
	font-size: 12px;
	font-family: Arial;
	background-color: #fff6e0;
	text-align: center;
}
/* End of Weather CSS */
.main_title
{
	color: #003758;
	font-weight: bold;
	font-size: 16px;
	font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
	text-decoration: none;
	text-align: left;
	padding-top: 10px;
	padding-right: 5px;
	padding-bottom: 2px;
}
.main_title a:link
{
	color: #003758;
	font-weight: bold;
	font-size: 16px;
	font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
	text-decoration: none;
	text-align: left;
}
.main_title a:visited
{
	color: #003758;
	font-weight: bold;
	font-size: 16px;
	font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
	text-decoration: none;
	text-align: left;
}
.main_title a:hover
{
	color: #003758;
	font-weight: bold;
	font-size: 16px;
	font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
	text-decoration: underline;
	text-align: left;
}
.source
{
	color: #494949;
	font-weight: bold;
	font-size: 12px;
	font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
	text-align: right;
	padding-top: 4px;
	padding-bottom: 2px;
}
.pic_explain
{
	color: black;
	font-size: 12px;
	font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
	text-align: justify;
	padding-top: 4px;
	padding-bottom: 4px;
}
.img_avatar
{
	border-right: black 1px solid;
	padding-right: 0px;
	border-top: black 1px solid;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	border-left: black 1px solid;
	padding-top: 0px;
	border-bottom: black 1px solid;
}
.pic_author
{
	color: gray;
	font-size: 9px;
	font-family: tahoma, verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
	text-align: right;
	padding-top: 2px;
}
/* Search */
.spnSearchHighlight0
{
	background-color: #ffff66;
}
.spnSearchHighlight1
{
	background-color: #a0ffff;
}
.spnSearchHighlight2
{
	background-color: #99ff99;
}
.spnSearchHighlight3
{
	background-color: #ff9999;
}
.spnSearchHighlight4
{
	background-color: #ff66ff;
}
.spnSearchHighlight5
{
	background-color: #f2feff;
}
.spnSearchHighlight6
{
	background-color: #2b5591;
}
.spnSearchHighlight7
{
	background-color: #191970;
}
.spnSearchHighlight8
{
	background-color: #3184bd;
}
.spnSearchHighlight9
{
	background-color: #f5f5f5;
}

.setHome
{	
	font-size: 9pt;
	font-weight: bold;
}

.setHome:hover
{
	font-size: 9pt;
	color: #6699CC;
	font-weight: bold;
	text-decoration: underline;
}

.setHome:visited
{
	font-size: 9pt;
	font-weight: bold;
}

/* online interview */
.interview_question
{
	font-size: 12pt;
	color: #003399;
	font-family: 'Times New Roman';
}

.interview_asker
{
	font-weight: bold;
	font-size: 9pt;
	width: 100%;
	color: #003399;
	font-style: italic;
	font-family: 'Arial';
	text-align: right;
}

.interview_reply
{
	font-size: 12pt;
	margin-left: 15px;
	font-family: 'Times New Roman';
}

/* end of online interview */
.txt_head_tin_hot
{
	font-family: Tahoma, Arial;
	font-size: 17px;
	font-Weight:bold;
	color: navy;
	TEXT-DECORATION: none;
	text-align: left;
	
}
.txt_head_tin_hot a:link
{
	font-family: Tahoma, Arial;
	font-size: 17px;
	font-Weight:bold;	
	color: navy;
	TEXT-DECORATION: none;
	text-align: left;
	
}
.txt_head_tin_hot a:visited
{
	font-family: Tahoma, Arial;
	font-size: 17px;
	font-Weight:bold;	
	color: navy;
	TEXT-DECORATION: none;
	text-align: left;
	
}
.txt_head_tin_hot a:hover
{
	font-family: Tahoma, Arial;
	font-size: 17px;
	font-Weight:bold;		
	color: #0000FF;
	TEXT-DECORATION: none;	
	text-align: left;
	
}

.event_list_item a:link
{
	font-family: Tahoma, Arial;
	font-size: 13px;
	font-Weight:normal;	
	color: navy;
	TEXT-DECORATION: none;
	text-align: left;
	
}

.event_list_item a:visited
{
	font-family: Tahoma, Arial;
	font-size: 13px;
	font-Weight:normal;	
	color: navy;
	TEXT-DECORATION: none;
	text-align: left;
}

.event_list_item a:hover
{
	font-family: Tahoma, Arial;
	font-size: 13px;
	font-Weight:normal;	
	color:  #0000FF;
	TEXT-DECORATION: underline;
	text-align: left;
	
}

.top_list_item_head
{
	font-family: Tahoma, Arial;
	font-size: 13px;
	font-Weight:bold;	
	color: #FF6600;
	TEXT-DECORATION: none;
	text-align: center;
	
}

.top_list_item a:link
{
	font-family: Arial;
	font-size: 13px;
	font-Weight: normal;	
	color: navy;
	TEXT-DECORATION: none;
	text-align: left;
	
}

.top_list_item a:visited
{
	font-family:  Arial;
	font-size: 13px;
	font-Weight:normal;	
	color: navy;
	TEXT-DECORATION: none;
	text-align: left;
}

.top_list_item a:hover
{
	font-family: Arial;
	font-size: 13px;
	font-Weight:normal;	
	color:  #0000FF;
	TEXT-DECORATION: underline;
	text-align: left;
	
}

.ds
{
	FONT-SIZE: 11px; 
	font-Weight: none;
	color: #FF6600;
	TEXT-DECORATION: none;
	FONT-FAMILY: Tahoma, Arial
}
.ds a:link
{
	FONT-SIZE: 11px; 
	font-Weight:none;
	color: #FF6600;
	TEXT-DECORATION: none; 
	FONT-FAMILY: Tahoma, Arial
}
.ds a:visited
{
	FONT-SIZE: 11px; 
	font-Weight:none;
	color: #FF6600;
	TEXT-DECORATION: none; 
	FONT-FAMILY: Tahoma, Arial
}
.ds a:hover
{
	FONT-SIZE: 11px; 
	font-Weight:none;
	color: #FF6600;
	TEXT-DECORATION: underline; 
	FONT-FAMILY: Tahoma, Arial
}


.txt_head_tin
{
	font-family: Tahoma, Arial;
	font-size: 12px;
	font-Weight:bold;
	color: #001B73;
	TEXT-DECORATION: none;
	text-align: left;
	
}
.txt_head_tin a:link
{
	font-family: Tahoma, Arial;
	font-size: 12px;
	font-Weight:bold;
	color: #001B73;
	TEXT-DECORATION: none;
	text-align: left;
	
}
.txt_head_tin a:visited
{
	font-family: Tahoma, Arial;
	font-size: 12px;
	font-Weight:bold;
	color: #001B73;
	TEXT-DECORATION: none;
	text-align: left;
	
}
.txt_head_tin a:hover
{
	font-family: Tahoma, Arial;
	font-size: 12px;
	font-Weight:bold;
	color: #6E82DC;
	TEXT-DECORATION: underline;
	text-align: left;
	
}

.box 
{
	font-family: Tahoma, Arial;
	font-size: 12px;
	font-style: normal;
	line-height: 15px;
	color: #323232;
	height: 18px;
	width:130px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #ADADAD;
	border-left-color: #ADADAD;
	border-bottom-color: #ADADAD;
	border-right-color: #ADADAD;
	
}
.MENU_BUTTOM
{	
	font-family: Tahoma, Arial;
	font-size: 11px;
	font-Weight:bold;
	color: black;
	TEXT-DECORATION:NONE;		
}
.MENU_BUTTOM A:LINK
{
	
	font-family: Tahoma, Arial;
	font-size: 11px;
	font-Weight:bold;	
	color: Black;
	TEXT-DECORATION:NONE;	
}
.MENU_BUTTOM A:VISITED
{
	
	font-family: Tahoma, Arial;
	font-size: 11px;
	font-Weight:bold;
	color: Black;
	TEXT-DECORATION:NONE;	
}
.MENU_BUTTOM A:HOVER
{
	
	font-family: Tahoma, Arial;
	font-size: 11px;
	font-Weight:bold;
	color: Black;
	TEXT-DECORATION:UNDERLINE;	
}
.txt_buttom
{
	font-family: Tahoma, Arial;
	font-size: 12px;	
	color: Black;
	TEXT-DECORATION:none;	
}
.txt_buttom a:link
{
	font-family: Tahoma, Arial;
	font-size: 12px;	
	color: Black;
	TEXT-DECORATION:none;	
}
.txt_buttom a:visited
{
	font-family: Tahoma, Arial;
	font-size: 12px;	
	color: Black;
	TEXT-DECORATION:none;	
}
.txt_buttom a:hover
{
	font-family: Tahoma, Arial;
	font-size: 12px;	
	color: #B30000;
	TEXT-DECORATION:underline;	
}
.txt_chi_tiet
{
	font-family: Tahoma, Arial;
	font-size: 12px;	
	color: #D50000;
	TEXT-DECORATION:none;	
}
.txt_chi_tiet a:link
{
	font-family: Tahoma, Arial;
	font-size: 12px;	
	color: #D50000;
	TEXT-DECORATION:none;	
}
.txt_chi_tiet a:visited
{
	font-family: Tahoma, Arial;
	font-size: 12px;	
	color: #D50000;
	TEXT-DECORATION:none;	
}
.txt_chi_tiet a:hover
{
	font-family: Tahoma, Arial;
	font-size: 12px;	
	color: #D50000;
	TEXT-DECORATION:underline;	
}
.link_cac_tin_da_dua
{
	font-family: Arial;
	font-size: 12px;	
	color: #0049B7;
	TEXT-DECORATION:none;	
}
.link_cac_tin_da_dua a:link
{
	font-family: Arial;
	font-size: 12px;	
	color: #0049B7;
	TEXT-DECORATION:none;	
}
.link_cac_tin_da_dua a:visited
{
	font-family: Arial;
	font-size: 12px;
	color: #0049B7;
	TEXT-DECORATION:none;	
}
.link_cac_tin_da_dua a:hover
{
	font-family: Arial;
	font-size: 12px;	
	color: #4984DD;
	TEXT-DECORATION:underline;	
}
.txt
{
	font-family: Tahoma, Arial;
	font-size: 11px;	
	color: #000000;
	TEXT-DECORATION: none;
	text-align: left;

}

.lnk_top_read
{
	font-family: Arial;
	font-size: 11px;
	font-Weight:none;
	color: #2160A3;
	TEXT-DECORATION: none;
	text-align: left;
}

.lnk_top_read:visited
{
	font-family: Arial;
	font-size: 11px;
	font-Weight:none;
	color: #2160A3;
	TEXT-DECORATION: none;
	text-align: left;
}

.lnk_top_read:hover
{
	font-family: Arial;
	font-size: 11px;
	font-Weight:none;
	color: #0000FF;
	TEXT-DECORATION: none;
	text-align: left;
}

.lnk_morning
{
	font-family: Arial;
	font-size: 11px;
	font-Weight:none;
	color: #0000FF;
	TEXT-DECORATION: none;
	text-align: left;
}

.lnk_morning:visited
{
	font-family: Arial;
	font-size: 11px;
	font-Weight:none;
	color: #0000FF;
	TEXT-DECORATION: none;
	text-align: left;
}

.lnk_morning:hover
{
	font-family: Arial;
	font-size: 11px;
	font-Weight:none;
	color: #FF0000;
	TEXT-DECORATION: none;
	text-align: left;
}

.txt_tong_bien_tap
{
	font-family: Tahoma, Arial;
	font-size: 11px;
	font-Weight:none;
	color: #000000;
	TEXT-DECORATION: none;
	text-align: center;
}
.txt_name_tong_bien_tap
{
	font-family: Arial;
	font-size: 12px;
	font-Weight:bold;
	color: #000000;
	TEXT-DECORATION: none;
	text-align: center;
}
.english
{
	font-family: Tahoma, Arial;
	font-size: 11px;
	font-Weight:Bold;
	color: #003596;
	TEXT-DECORATION: none;
	text-align: none;
	
}
.english a:link
{
	font-family: Tahoma, Arial;
	font-size: 11px;
	font-Weight:Bold;
	color: #003596;
	TEXT-DECORATION: none;
	text-align: none;
	
}
.english a:visited
{
	font-family: Tahoma, Arial;
	font-size: 11px;
	font-Weight:Bold;
	color: #003596;
	TEXT-DECORATION: none;
	
}
.english a:hover
{
	font-family: Tahoma, Arial;
	font-size: 11px;
	font-Weight:Bold;
	color: #4786E3;
	TEXT-DECORATION: none;
}

.box 
{
	font-family: Tahoma, Arial;
	font-size: 11px;
	font-style: normal;
	line-height: 15px;
	color: #323232;
	height: 18px;
	width:130px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #ADADAD;
	border-left-color: #ADADAD;
	border-bottom-color: #ADADAD;
	border-right-color: #ADADAD;	
}

.time
{
	font-family: Tahoma, Arial;
	font-size: 11px;
	font-Weight:Bold;
	color: #2B2B2B;
	TEXT-DECORATION: none;
	padding-left: 5px;	
}
.english
{
	font-family: Tahoma, Arial;
	font-size: 11px;
	font-Weight:Bold;
	color: #003596;
	TEXT-DECORATION: none;	
}
.english a:link
{
	font-family: Tahoma, Arial;
	font-size: 11px;
	font-Weight:Bold;
	color: #003596;
	TEXT-DECORATION: none;	
}
.english a:visited
{
	font-family: Tahoma, Arial;
	font-size: 11px;
	font-Weight:Bold;
	color: #003596;
	TEXT-DECORATION: none;	
}
.english a:hover
{
	font-family: Tahoma, Arial;
	font-size: 11px;
	font-Weight:Bold;
	color: #4786E3;
	TEXT-DECORATION: none;
}

.txt_zonetitle
{
	font-family: Tahoma, Arial;
	font-size: 12px;
	font-Weight:bold;
	color: #B80101;
	TEXT-DECORATION: none;
	text-align: left;

}

a.txt_zonetitle:link
{
	font-family: Tahoma, Arial;
	font-size: 12px;
	font-Weight:bold;
	color: #B80101;
	TEXT-DECORATION: none;
	text-align: left;

}
a.txt_zonetitle:visited
{
	font-family: Tahoma, Arial;
	font-size: 12px;
	font-Weight:bold;
	color: #B80101;
	TEXT-DECORATION: none;
	text-align: left;
}
a.txt_zonetitle:hover
{
	font-family: Tahoma, Arial;
	font-size: 12px;
	font-Weight:bold;
	color: #FF0000;
	TEXT-DECORATION: underline;
	text-align: left;
}
a.txt_zonetitle:active
{
	font-family: Tahoma, Arial;
	font-size: 12px;
	font-Weight:bold;
	color: #B80101;
	TEXT-DECORATION: none;
	text-align: left;
}
.td_menu_left
{
    border-top:#929292 1 solid;
	border-left:#929292 1 solid;
	border-right:#929292 1 solid;
	border-bottom:#929292 1 solid;
}

.txt_hoso
{
	font-family: Tahoma, Arial;
	font-size: 12px;
	font-Weight:bold;
	color: #0000FF;
	TEXT-DECORATION: none;
	text-align: left;
}

.txt_hoso:visited
{
	font-family: Tahoma, Arial;
	font-size: 12px;
	font-Weight:bold;
	color: #0000FF;
	TEXT-DECORATION: none;
	text-align: left;
}

.txt_hoso:link
{
	font-family: Tahoma, Arial;
	font-size: 12px;
	font-Weight:bold;
	color: #0000FF;
	TEXT-DECORATION: none;
	text-align: left;
}

.txt_hoso:hover
{
	font-family: Tahoma, Arial;
	font-size: 12px;
	font-Weight:bold;
	color: #B80101;
	TEXT-DECORATION: underline;
	text-align: left;
}

.txt_title
{
	font-family: Tahoma, Arial;
	font-size: 11px;
	font-Weight:bold;
	color: #B80101;
	TEXT-DECORATION: none;
	text-align: left;
}

.txt_title:hover
{
	font-family: Tahoma, Arial;
	font-size: 11px;
	font-Weight:bold;
	color: #0000FF;
	TEXT-DECORATION: underline;
	text-align: left;
}

.txt_title:link
{
	font-family: Tahoma, Arial;
	font-size: 11px;
	font-Weight:bold;
	color: #B80101;
	TEXT-DECORATION: none;
	text-align: left;
}

.txt_title:visited
{
	font-family: Tahoma, Arial;
	font-size: 11px;
	font-Weight:bold;
	color: #B80101;
	TEXT-DECORATION: none;
	text-align: left;
}


.txt_host_link_tin:link
{
	font-family: Arial;
	font-size: 12px;	
	color: #2160A3;
	TEXT-DECORATION:none;	
}
.txt_host_link_tin:hover
{
	font-family: Arial;
	font-size: 12px;
	color: #2160A3;
	TEXT-DECORATION:underline;
}
.txt_host_link_tin:active
{
	font-family: Arial;
	font-size: 12px;	
	color: #2160A3;
	TEXT-DECORATION:none;	
}
.txt_host_link_tin:visited
{
	font-family: Arial;
	font-size: 12px;	
	color: #2160A3;
	TEXT-DECORATION:none;	
}

