/*
** Plone Print style sheet for CSS2-capable browsers.
** Copyright Alexander Limi, 2001-2003 - http://www.plonesolutions.com
**
** Style sheet documentation can be found at http://plone.org/documentation
**
** You should preferrably use ploneCustom.css to add your own CSS classes and to
** customize your portal, as these are the base fundaments of Plone, and will 
** change and be refined in newer versions. Keeping your changes in
** ploneCustom.css will make it easier to upgrade. 
**
** Feel free to use whole or parts of this for your own designs, but give credit
** where credit is due.
**
*/

/* <!-- compression status: 1 --> (this is for http compression) */
/* Thanks to A List Apart (http://alistapart.com/) for useful extras */

body {
    font-family: Georgia, Garamond, Times, serif;
    font-size: 11pt !important;
}

div.top,
#portal-logo,
#portal-siteactions,
.hiddenStructure,
#portal-searchbox,
#portal-globalnav,
#portal-personaltools,
#portal-breadcrumbs,
#portal-column-one,
#portal-column-two,
.contentViews,
.contentActions,
.help,
.legend,
div.portalMessage,
div.documentActions,
.documentByLine,
.netscape4,
#portal-footer,
#portal-colophon,
input,
.skipnav,
.visualNoPrint {
    /* Hides all the elements irrelevant for presentations */
    display: none;
}

ul { 
    list-style-type: square;
}

h1, h2, h3, h4, h5, h6
{
    border: none;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.documentDescription {
    font-weight: bold;
}

pre {
    border: 1pt dashed black;
    white-space: pre;
    font-size: 8pt;
    overflow: auto;
    padding: 1em 0;
}

table.listing,
table.listing td {
    border: 1pt solid black;
    border-collapse: collapse;
}

a {
    color: Black !important;
    padding: 0 !important
}

a:link, a:visited {
    color: #520;
    background: transparent;
    text-decoration: underline;
}

#content a:link:after, 
#content a:visited:after {
   content: "";
}