.GroupHeaderid1siteid33{
Background-Color : #336699 ;
Height : 20 ;
Text-Align : Left ;
}
.GroupHeaderLinkid1siteid33{
Color : #FFFFFF ;
Font-Family : Arial, Helvetica ;
Font-Size : 9pt ;
Font-Weight : Bold ;
}
.GroupHeaderTextid1siteid33{
Color : #FFFFFF ;
Font-Family : Arial, Helvetica ;
Font-Size : 9pt ;
Font-Weight : Bold ;
}
.RegionHeaderid1siteid33{
Background-Color : #336699 ;
Height : 20 ;
Text-Align : Left ;
}
.RegionHeaderTextid1siteid33{
Color : #FFFFFF ;
Font-Family : Arial, Helvetica ;
Font-Size : 9pt ;
Font-Weight : Bold ;
}
.Bodyid1siteid33{
Background-Color : #FFFFFF ;
}
.Description1id1siteid33{
Color : #000000 ;
Font-Family : Arial, Helvetica ;
Font-Size : 8pt ;
}
.Description10id1siteid33{
Color : #000000 ;
Font-Family : Arial, Helvetica ;
Font-Size : 8pt ;
}
.Description2id1siteid33{
Color : #000000 ;
Font-Family : Arial, Helvetica ;
Font-Size : 8pt ;
}
.Description3id1siteid33{
Color : #000000 ;
Font-Family : Arial, Helvetica ;
Font-Size : 8pt ;
}
.Description4id1siteid33{
Color : #000000 ;
Font-Family : Arial, Helvetica ;
Font-Size : 8pt ;
}
.Description5id1siteid33{
Color : #000000 ;
Font-Family : Arial, Helvetica ;
Font-Size : 8pt ;
}
.Description6id1siteid33{
Color : #000000 ;
Font-Family : Arial, Helvetica ;
Font-Size : 8pt ;
}
.Description7id1siteid33{
Color : #000000 ;
Font-Family : Arial, Helvetica ;
Font-Size : 8pt ;
}
.Description8id1siteid33{
Color : #000000 ;
Font-Family : Arial, Helvetica ;
Font-Size : 8pt ;
}
.Description9id1siteid33{
Color : #000000 ;
Font-Family : Arial, Helvetica ;
Font-Size : 8pt ;
}
.Image1id1siteid33{
Color : #000000 ;
Font-Family : Arial, Helvetica ;
Font-Size : 8pt ;
}
.Image10id1siteid33{
Color : #000000 ;
Font-Family : Arial, Helvetica ;
Font-Size : 8pt ;
}
.Image2id1siteid33{
Color : #000000 ;
Font-Family : Arial, Helvetica ;
Font-Size : 8pt ;
}
.Image3id1siteid33{
Color : #000000 ;
Font-Family : Arial, Helvetica ;
Font-Size : 8pt ;
}
.Image4id1siteid33{
Color : #000000 ;
Font-Family : Arial, Helvetica ;
Font-Size : 8pt ;
}
.Image5id1siteid33{
Color : #000000 ;
Font-Family : Arial, Helvetica ;
Font-Size : 8pt ;
}
.Image6id1siteid33{
Color : #000000 ;
Font-Family : Arial, Helvetica ;
Font-Size : 8pt ;
}
.Image7id1siteid33{
Color : #000000 ;
Font-Family : Arial, Helvetica ;
Font-Size : 8pt ;
}
.Image8id1siteid33{
Color : #000000 ;
Font-Family : Arial, Helvetica ;
Font-Size : 8pt ;
}
.Image9id1siteid33{
Color : #000000 ;
Font-Family : Arial, Helvetica ;
Font-Size : 8pt ;
}
.Secoundsid1siteid33{
Color : #000000 ;
Font-Family : Arial, Helvetica ;
Font-Size : 8pt ;
}
.applicationtypeid1siteid33{
Color : #000000 ;
Font-Family : Arial, Helvetica ;
Font-Size : 8pt ;
}
.attachment1id1siteid33{
Color : #000000 ;
Font-Family : Arial, Helvetica ;
Font-Size : 8pt ;
}
.attachment2id1siteid33{
Color : #000000 ;
Font-Family : Arial, Helvetica ;
Font-Size : 8pt ;
}
.attachment3id1siteid33{
Color : #000000 ;
Font-Family : Arial, Helvetica ;
Font-Size : 8pt ;
}
.authorid1siteid33{
Color : #000000 ;
Font-Family : Arial, Helvetica ;
Font-Size : 8pt ;
}
.chapterid1siteid33{
Color : #000000 ;
Font-Family : Arial, Helvetica ;
Font-Size : 8pt ;
}
.createdateid1siteid33{
Color : #000000 ;
Font-Family : Arial, Helvetica ;
Font-Size : 8pt ;
}
.creatorid1siteid33{
Color : #000000 ;
Font-Family : Arial, Helvetica ;
Font-Size : 8pt ;
}
.dangtailieuid1siteid33{
Color : #000000 ;
Font-Family : Arial, Helvetica ;
Font-Size : 8pt ;
}
.defaultattributeid1siteid33{
Color : #000000 ;
Font-Family : Arial, Helvetica ;
Font-Size : 8pt ;
}
.descriptionid1siteid33{
Color : #000000 ;
Font-Family : Tahoma ;
Font-Size : 8pt ;
}
.documentsizeid1siteid33{
Color : #000000 ;
Font-Family : Arial, Helvetica ;
Font-Size : 8pt ;
}
.expiredateid1siteid33{
Color : #000000 ;
Font-Family : Arial, Helvetica ;
Font-Size : 8pt ;
}
.formatid1siteid33{
Color : #000000 ;
Font-Family : Arial, Helvetica ;
Font-Size : 8pt ;
}
.help_urlid1siteid33{
Color : #000000 ;
Font-Family : Arial, Helvetica ;
Font-Size : 8pt ;
}
.initialpagenameid1siteid33{
Color : #000000 ;
Font-Family : Arial, Helvetica ;
Font-Size : 8pt ;
}
.inplacedisplayid1siteid33{
Color : #000000 ;
Font-Family : Arial, Helvetica ;
Font-Size : 8pt ;
}
.itemfunctionid1siteid33{
Color : #000000 ;
Font-Family : Arial, Helvetica ;
Font-Size : 8pt ;
}
.keywordsid1siteid33{
Color : #000000 ;
Font-Family : Arial, Helvetica ;
Font-Size : 8pt ;
}
.nguontrichid1siteid33{
Color : #000000 ;
Font-Family : Arial, Helvetica ;
Font-Size : 8pt ;
}
.perspectivesid1siteid33{
Color : #000000 ;
Font-Family : Arial, Helvetica ;
Font-Size : 8pt ;
}
.portletidid1siteid33{
Color : #000000 ;
Font-Family : Arial, Helvetica ;
Font-Size : 8pt ;
}
.provideridid1siteid33{
Color : #000000 ;
Font-Family : Arial, Helvetica ;
Font-Size : 8pt ;
}
.providernameid1siteid33{
Color : #000000 ;
Font-Family : Arial, Helvetica ;
Font-Size : 8pt ;
}
.scoreid1siteid33{
Color : #000000 ;
Font-Family : Arial, Helvetica ;
Font-Size : 8pt ;
}
.show_in_menuid1siteid33{
Color : #000000 ;
Font-Family : Arial, Helvetica ;
Font-Size : 8pt ;
}
.subjectid1siteid33{
Color : #000000 ;
Font-Family : Arial, Helvetica ;
Font-Size : 8pt ;
}
.subpagetitleid1siteid33{
Color : #000000 ;
Font-Family : Arial, Helvetica ;
Font-Size : 8pt ;
}
.titleid1siteid33{
Color : #707070 ;
Font-Family : Tahoma ;
Font-Size : 10pt ;
Font-Weight : Bold ;
}
.titleorimageid1siteid33{
Color : #336699 ;
Text-Decoration : none ;
Font-Family : Tahoma ;
Font-Size : 8pt ;
}
.upload_fileid1siteid33{
Color : #000000 ;
Font-Family : Arial, Helvetica ;
Font-Size : 8pt ;
}
.wwsbr_category_id1siteid33{
Color : #000000 ;
Font-Family : Arial, Helvetica ;
Font-Size : 8pt ;
}
.wwsbr_expirationperiod_id1siteid33{
Color : #000000 ;
Font-Family : Arial, Helvetica ;
Font-Size : 8pt ;
}
.wwsbr_image_or_title_id1siteid33{
Color : #000000 ;
Font-Family : Arial, Helvetica ;
Font-Size : 8pt ;
}
.wwsbr_itemtype_id1siteid33{
Color : #000000 ;
Font-Family : Arial, Helvetica ;
Font-Size : 8pt ;
}
.wwsbr_page_id1siteid33{
Color : #000000 ;
Font-Family : Arial, Helvetica ;
Font-Size : 8pt ;
}
.wwsbr_pagegroup_id1siteid33{
Color : #000000 ;
Font-Family : Arial, Helvetica ;
Font-Size : 8pt ;
}
.wwsbr_portletname_id1siteid33{
Color : #000000 ;
Font-Family : Arial, Helvetica ;
Font-Size : 8pt ;
}
.wwsbr_publishdate_id1siteid33{
Color : #000000 ;
Font-Family : Arial, Helvetica ;
Font-Size : 8pt ;
}
.wwsbr_title_link_id1siteid33{
Color : #000000 ;
Font-Family : Arial, Helvetica ;
Font-Size : 8pt ;
}
.wwsbr_updatedate_id1siteid33{
Color : #000000 ;
Font-Family : Arial, Helvetica ;
Font-Size : 8pt ;
}
.wwsbr_updator_id1siteid33{
Color : #000000 ;
Font-Family : Arial, Helvetica ;
Font-Size : 8pt ;
}
.LeftCurve{
}
.PortletBodyColor{
}
.PortletHeaderColor{
Background-Color : #006C8A ;
}
.PortletHeaderLink{
Color : #FFFFFF ;
Font-Family : Tahoma ;
Font-Size : 8pt ;
}
.PortletHeaderStyle{
}
.PortletHeaderText{
Color : #FFFFFF ;
Font-Family : Tahoma ;
Font-Size : 8pt ;
Font-Weight : Bold ;
}
.PortletHeading1{
Color : #707070 ;
Font-Family : Tahoma ;
Font-Size : 10pt ;
Font-Weight : Bold ;
}
.PortletHeading2{
Color : #707070 ;
Font-Family : Tahoma ;
Font-Size : 8pt ;
Font-Weight : Bold ;
}
.PortletHeading3{
Color : #707070 ;
Font-Family : Arial, Helvetica ;
Font-Size : 9pt ;
Font-Weight : Bold ;
}
.PortletHeading4{
Color : #707070 ;
Font-Family : Arial, Helvetica ;
Font-Size : 8pt ;
Font-Weight : Bold ;
}
.PortletSubHeaderColor{
Background-Color : #EEEEDD ;
}
.PortletSubHeaderLink{
Color : #000000 ;
Font-Family : Tahoma ;
Font-Size : 8pt ;
}
.PortletSubHeaderText{
Color : #000000 ;
Font-Family : Tahoma ;
Font-Size : 8pt ;
}
.PortletText1{
Color : #707070 ;
Font-Family : Tahoma ;
Font-Size : 8pt ;
}
.PortletText2{
Color : #707070 ;
Font-Family : Tahoma ;
Font-Size : 8pt ;
}
.PortletText3{
Color : #707070 ;
Font-Family : Arial, Helvetica ;
Font-Size : 8pt ;
}
.PortletText4{
Color : #999999 ;
Font-Family : Tahoma ;
Font-Size : 7pt ;
}
.RightCurve{
}
.LeftSubTabid1siteid33{
Background-Attachment : scroll ;
Background-Color : #336699 ;
Background-Image : url(http://www.vista.gov.vn/images/FFFFFFsl.gif) ;
Background-Position : left top ;
Background-Repeat : no-repeat ;
}
.LeftTabBgSlantid1siteid33{
Background-Attachment : scroll ;
Background-Color : #CCCC99 ;
Background-Image : url(http://www.vista.gov.vn/images/FFFFFFtl.gif) ;
Background-Position : left top ;
Background-Repeat : no-repeat ;
}
.LeftTabForeSlantid1siteid33{
Background-Attachment : scroll ;
Background-Color : #336699 ;
Background-Image : url(http://www.vista.gov.vn/images/FFFFFFtl.gif) ;
Background-Position : left top ;
Background-Repeat : no-repeat ;
}
.RightSubTabid1siteid33{
Background-Attachment : scroll ;
Background-Color : #336699 ;
Background-Image : url(http://www.vista.gov.vn/images/FFFFFFsr.gif) ;
Background-Position : right top ;
Background-Repeat : no-repeat ;
}
.RightTabBgCurveid1siteid33{
Background-Attachment : scroll ;
Background-Color : #CCCC99 ;
Background-Image : url(http://www.vista.gov.vn/images/FFFFFFtr.gif) ;
Background-Position : right top ;
Background-Repeat : no-repeat ;
}
.RightTabForeCurveid1siteid33{
Background-Attachment : scroll ;
Background-Color : #336699 ;
Background-Image : url(http://www.vista.gov.vn/images/FFFFFFtr.gif) ;
Background-Position : right top ;
Background-Repeat : no-repeat ;
}
.SubTabBgTextid1siteid33{
Color : #CCCC99 ;
Text-Decoration : none ;
Font-Family : Arial, Helvetica ;
Font-Size : 11pt ;
Font-Weight : Bold ;
}
.TabBackgroundColorid1siteid33{
Background-Color : #CCCC99 ;
}
.TabBackgroundTextid1siteid33{
Color : #003366 ;
Text-Decoration : none ;
Font-Family : Arial, Helvetica ;
Font-Size : 10pt ;
}
.TabForegroundColorid1siteid33{
Background-Color : #336699 ;
}
.TabForegroundTextid1siteid33{
Color : #FFFFFF ;
Text-Decoration : none ;
Font-Family : Arial, Helvetica ;
Font-Size : 10pt ;
Font-Weight : Bold ;
}
.RegionNoBorder{}
.RegionBorder { border:#006C8A  1px solid; }
.RegionHeaderColor { background-color:; border:#006C8A 0px solid }
.PageColor { background-color:#FFFFFF}
