.Title                 { font-family: 'Times New Roman'; font-size: 14pt; font-weight: bold; margin-top: 0 }
.TitleWhite            { font-family: 'Times New Roman'; font-size: 14pt; font-weight: bold; margin-top: 0; color: #ffffff }
.ColTitle              { font-family: 'Arial'; font-size: 10pt; font-weight: bold }
.SubTitle              { font-family: 'Times New Roman'; font-size: 12pt; font-weight: bold; color: #5F5F5F }
.Time                  { font-family: 'Verdana'; font-size: 8pt; color: #000000; text-decoration: none }
.TimeW                 { font-family: 'Verdana'; font-size: 8pt; color: #ffffff; text-decoration: none }
.Time:hover            { font-family: 'Verdana'; font-size: 8pt; color: #800040; text-decoration: underline }
.Author                { font-family: 'Arial'; font-size: 10pt; text-align: Right; font-weight: bold }
.Normal                { font-family: 'Times New Roman'; font-size: 11.8pt; color: #000000 }
.Link                  { text-decoration: none }
.Link:hover            { text-decoration: underline }
.Image                 { font-family: 'Arial'; font-size: 8.5pt; color: #000000 }
.Lead                  { font-family: 'Times New Roman'; font-size: 11pt; color: #5F5F5F; font-weight: bold }
.Menu                  { font-family: 'Arial'; font-size: 8pt; color: #ffffff; font-weight: bold; text-decoration: none; margin-left: 6; width: 100% }
.MenuSelected          { font-family: 'Arial'; font-size: 8pt; color: #ffffff; font-weight: bold; text-decoration: none; margin-left: 6; width: 100% }
.SubMenu               { font-family: 'Arial'; font-size: 8pt; color: #333366; font-weight: bold; text-decoration: none; margin-left: 6; width: 100% }
.SubMenuSelected       { font-family: 'Arial'; font-size: 8pt; color: #ffffff; font-weight: bold; text-decoration: none; margin-left: 6; width: 100% }
.TitleFront            { font-weight: bold; font-family: 'Times New Roman'; font-size: 12pt; color: #000000; text-decoration: none }
.TitleFront:hover      { font-weight: bold; font-family: 'Times New Roman'; font-size: 12pt; color: #000000; text-decoration: underline }
.TitleFront:visited    {  font-weight: bold;font-family: 'Times New Roman'; font-size: 12pt; color: #004080; text-decoration: none }
.TitleSmall            { font-family: 'Verdana'; font-size: 8pt; color: #000000; text-decoration: none }
.TitleSmall:hover      { font-family: 'Verdana'; font-size: 8pt; color: #000000; text-decoration: underline }
.TitleSmall:visited    { font-family: 'Verdana'; font-size: 8pt; color: #004080; text-decoration: none }
.LeadFront             { font-family: 'Arial'; font-size: 10pt; text-decoration: none }
.More                  { font-family: 'Arial'; font-size: 8pt; color: #000000; text-decoration: none }
.Folder                { font-family: 'Verdana'; font-size: 10pt; color: #AD1455; font-weight: bold; text-decoration: none }
.OtherTitle            { font-family: 'Arial'; font-size: 10pt; font-weight: bold; text-decoration: underline }
.TopicTitle            { font-family: 'Arial'; font-size: 10pt; font-weight: bold; color: #004080; text-decoration: none }
.TopicTitle:hover      { font-family: 'Arial'; font-size: 10pt; font-weight: bold; text-decoration: underline }
.TopicTitle:visited    { font-family: 'Arial'; font-size: 10pt; font-weight: bold; color: #800040; text-decoration: none }
.Other                 { font-family: 'Arial'; font-size: 10pt; color: #000000; text-decoration: none }
.Other:hover           { font-family: 'Arial'; font-size: 10pt; text-decoration: underline }
.Other:visited         { font-family: 'Arial'; font-size: 10pt; color: #004080; text-decoration: none; }
.SubItem               { font-family: 'Arial'; font-size: 8pt; color: #333366; text-decoration: none }
.SubItemSelected       { font-family: 'Arial'; font-size: 8pt; color: #333366; text-decoration: none }
.TopStory              { font-family: 'Verdana'; font-size: 12.5pt; color: #000000; font-weight: bold; text-decoration: none }
.Copyright             { font-family: 'Arial'; font-size: 8pt; color: #5F5F5F; text-decoration: none }
.Symbol                { font-size: 8pt; color: #5F5F5F; text-decoration: none }
.BoxHeader             { font-family: 'Arial'; font-size: 8pt; color: #ffffff; font-weight: bold; text-decoration: none }
.BoxItem               { font-family: 'Arial'; font-size: 8pt; color: #000000; text-decoration: none }
.HotItem               { font-family: 'Arial'; font-size: 8pt; color: #000000; text-decoration: none }
.HotItem:Hover         { font-family: 'Arial'; font-size: 8pt; color: #004080; text-decoration: none }
.FormItem              { font-family: 'Arial'; font-size: 10pt; color: #000000; text-decoration: none }
.FolderTitle           { font-family: 'Verdana'; font-size: 8pt; color: #000000; font-weight: bold }
.About                 { font-family: 'Verdana'; font-size: 8pt; color: #000000; font-weight: bold; text-decoration: none }
.ForumItem             { font-family: 'Verdana'; font-size: 10pt }
.ForumHeader           { font-family: 'Verdana'; font-size: 10pt; color: #FFFFFF; font-weight: bold }
.FormField             { font-family: 'MS Sans Serif'; font-size: 10pt }
.ShowDate              { font-family: 'Arial'; font-size: 8pt; color: #8080C0 }
.MenuSet               { font-family: 'Verdana'; font-size: 8pt; color: #000000; text-decoration: none }
.MenuSet:hover         { font-family: 'Verdana'; font-size: 8pt; color: #004080; text-decoration: none }
.IndexDesc             { font-family: 'Arial'; font-size: 1pt; color: #5A1633; text-decoration: none }
.AddBody               { font-family: 'Verdana'; font-size: 8pt; color: #000000; text-decoration: none }
.SearchTitle           { font-family: 'Verdana'; font-size: 8pt; color: #ffffff; text-decoration: none }
.ShowNext              { font-family: 'Arial'; font-size: 10pt; font-weight: bold; color: #000000; text-decoration: underline }
.ShowNext:Hover        { font-family: 'Arial'; font-size: 10pt; font-weight: bold; color: #004080; text-decoration: underline }
.VoteItem              { font-family: 'Arial'; font-size: 10pt; color: #000000; text-decoration: none; margin-left: 2; margin-right: 2 }
.VoteField             { font-family: 'Arial'; font-size: 8pt; color: #000000; text-decoration: none }
.VoteTitle             { font-family: 'Verdana'; font-size: 10pt; font-weight: bold; color: #ffffff; text-decoration: none }
.VoteShow              { font-family: 'Verdana'; font-size: 10pt; font-weight: bold; color: #000000; text-decoration: none }
.VoteRemark            { font-family: 'Verdana'; font-size: 8pt; color: #ffffff; text-decoration: none }
.BoxTitle              { font-family: 'Arial'; font-size: 9pt; color: #ffffff; font-weight: bold; text-decoration: none }
.BoxLink               { font-family: 'Arial'; color: #000000; font-size: 10pt; text-decoration: none }
.AdvLink               { font-family: 'Arial'; color: #003366; font-size: 10pt; text-decoration: none }
.AdWordBox             { font-family: 'Tahoma'; color: #000000; font-size: 8pt; text-decoration: none }
.BreakLine             { font-family: 'Arial'; font-size: 1pt; height: 1 }
.SearchBox             { font-family: 'Arial'; font-size: 10px; width: 93 }
.SearchButton          { font-size: 9px; background-color: #369; color: #fff; font-weight: bold; padding: 1px; margin: 2px; border-top: solid 1px #69c; border-right: solid 1px #069; border-bottom: solid 1px #069; border-left: solid 1px #69c }
.MoreTitle             { font-family: 'Arial'; font-size: 10pt; font-weight: bold; color: #000000; text-decoration: none }
.CExpand               { font-family: 'Verdana'; font-size: 8pt; font-weight: bold; background: #ffffff; color: #000000; text-decoration: none }
.CExpand:hover         { font-family: 'Verdana'; font-size: 8pt; font-weight: bold; background: #ffffff; color: #000000 }
.PnLink                { font-family: 'Verdana'; color: #000000; font-size: 8pt; text-decoration: none }
.PnLTitle              { font-family: 'Verdana'; color: #000000; font-size: 8pt; font-weight: bold; text-decoration: none }
.PnDTitle              { font-family: 'Verdana'; color: #ffffff; font-size: 8pt; font-weight: bold; text-decoration: none }
.SForm                 { font-family: 'Arial'; font-size: 9pt; text-decoration: none }
.SFormWhite            { font-family: 'Arial'; font-size: 9pt; text-decoration: none; color: #ffffff }
.SFormR                { font-family: 'Arial'; font-size: 9pt; text-decoration: underline }
.IItem                 { font-family: 'Verdana'; font-size: 10pt; color: #000000; text-decoration: none }
.IItem:hover           { font-family: 'Verdana'; font-size: 10pt; color: #000000; text-decoration: underline }
.IItem:visited         { font-family: 'Arial'; font-size: 10pt; color: #8080C0; text-decoration: none }
.AdTitle               { font-family: 'Arial'; font-size: 10pt; color: #000000; font-weight: bold; text-decoration: none }
.AdTop                 { font-family: 'Times New Roman'; font-size: 20pt; color: #5F5F5F; font-weight: bold; text-decoration: none }
.Small                 { font-family: 'Arial'; font-size: 7pt; color: #000000; text-decoration: none }
.SmallW                { font-family: 'Arial'; font-size: 7pt; color: #ffffff; text-decoration: none }
.Question              { font-family: 'Times New Roman'; font-size: 12pt; color: #000000; font-style: italic; margin-top: 15; margin-bottom: 7 }
.Answer                { font-family: 'Times New Roman'; font-size: 12pt; color: #000000; margin-top: 0; margin-bottom: 0 }
.IntMaster             { width: 99% }
.VoteButton            { font-family: 'Arial'; font-size: 8pt; text-decoration: none }
.AdHeader              { font-family: 'Verdana'; font-size: 10pt; font-weight: bold; color: #FFFFFF }
.LoadBox               { Background-image:url("/Images/Loading.gif"); background-repeat: no-repeat; background-attachment:fixed; BACKGROUND-POSITION:center;} 
.LItem                 { font-family: 'Arial'; font-size: 10pt; color: #000000; text-decoration: none }
.LItem:hover           { font-family: 'Arial'; font-size: 10pt; text-decoration: underline }
.LItem:visited         { font-family: 'Arial'; font-size: 10pt; color: #004080; text-decoration: none; }
.LItemDot              { }
.TextInterview 	{ font-family: 'Arial'; font-size: 8pt; border:1px solid #a7a6aa; color: #737373;}