/*
** Plone Presentation style sheet for CSS2-capable browsers.
** Copyright Alexander Limi, 2001-2003 - http://www.plonesolutions.com
**
** Style sheet documentation can be found at http://plone.org/documentation
**
** You should preferrably use ploneCustom.css to add your own CSS classes and to
** customize your portal, as these are the base fundaments of Plone, and will 
** change and be refined in newer versions. Keeping your changes in
** ploneCustom.css will make it easier to upgrade. 
**
** Feel free to use whole or parts of this for your own designs, but give credit
** where credit is due.
**
*/

/* <!-- compression status: 1 --> (this is for http compression) */
/*  (do not remove this :) */
/*  (not this either :) */

body {
    background: White url(http://www.dongnai.gov.vn/logo.jpg) no-repeat fixed 95% 95%;
    font-family: "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
    font-size: 50px !important;
    color: Black;
    margin: 0;
    padding: 0;
    min-width: 0px !important;
}

#visual-portal-wrapper {
    width: 100% !important;
    min-width: 0 !important;
}

#portal-column-content {
    margin: 0 !important;
}

#portal-column-content #content {
    padding: 1em;
    margin: 0 !important;
}

h1, h2 {
    font-size: 50px !important;
    background-color: #dee7ec;
    border-color: #8cacbb;
    border-style: solid;
    border-width: 1px;
    padding-top: 0em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin: 1em 0 0 0;
    page-break-before: always;
    font-weight: normal;
}

h1.documentFirstHeading { 
    /* Trick to avoid getting an initial blank page */
    page-break-before: avoid; 
} 

dl, ol, ul {
    font-size: 40px !important;
    text-align: left;
    margin-top: 0.5em;
}

dt {
    background-color: #dee7ec;
    border-color: #8cacbb;
    border-style: solid;
    border-width: 1px;
    display: inline;
    padding-right: 0.5em;
}

dd {
    margin-bottom: 0.25em;
}

li {
    margin: 0 0 0.5em 0;
}

p {
    /* This hides evertything that is a normal paragraph, so you can write 
    presentations with additional notes that only show up in print/web.
    If you want normal paragraphs to show up, remove this selector. */
    display: none;
}

.documentDescription {
    font-size: 40px !important;
    font-weight: normal;
    margin-top: 4em;
    text-align: center !important;
}

ul { 
    list-style-image: url(http://www.dongnai.gov.vn/bulletBig.gif); 
}

pre { 
    font-size: 25px;
    padding: 0.5em;
    font-weight: bold;
    background-color: #dee7ec;
    border: 1px dashed #8cacbb;
}

code {
    background-color: #dee7ec;
    border-color: #8cacbb;
    border-style: dashed;
    border-width: 1px;
    padding: 0.1em 0.25em;
}

a {
    color: #436976 !important;
}

div.top,
#portal-logo,
.hiddenStructure,
#portal-searchbox,
#portal-globalnav,
#portal-personaltools,
#portal-breadcrumbs,
#portal-column-one,
#portal-column-two,
.contentViews,
.contentActions,
.help,
.legend,
div.portalMessage,
div.documentActions,
.documentByLine,
.netscape4,
#portal-footer,
#portal-colophon,
input,
.skipnav {
    /* Hides all the elements irrelevant for presentations */
    display: none;
}

div#portal-columns div#visual-column-wrapper,
div#portal-columns div#visual-column-wrapper div#portal-column-content {
    width: 100%;
}

div#portal-columns div#visual-column-wrapper div#portal-column-content {
    padding: 0;
    margin: 0;
}

div#portal-columns div#visual-column-wrapper div#portal-column-content * {
    text-align: left;
}

#content,
.group {
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
}

#content {
    margin: 0 1em;
}

table.listing,
table.listing td {
    border: 1pt solid black;
    border-collapse: collapse;
}

a, a:link, a:visited {
    color: #520;
    background: transparent;
    text-decoration: underline;
}

/*  */
