BODY {
	SCROLLBAR-FACE-COLOR: #FFFFFF; SCROLLBAR-3DLIGHT-COLOR: #000000; SCROLLBAR-ARROW-COLOR: #FF0000; SCROLLBAR-TRACK-COLOR: #ffffff; SCROLLBAR-DARKSHADOW-COLOR: #cccccc
}

A:link {
text-decoration: none;
color : #000080;
font-size: 10pt;
font-family: Verdana; 
}

A:visited {
text-decoration: none;
color : #990000;
font-size: 10pt;
font-family: Verdana
}

A:active {
text-decoration: none;
color : #FF0000;
font-size: 9pt;
font-family: verdana, tahoma, "Ms sans serif", arial
}

A:hover {
text-decoration: underline;
color : #FF0000;
font-size: 10pt;
font-family: Verdana
}