/* CSS Document */

.lineorange { background-color:#E84700;}
.bgcr {background-image:url(../images/bottom/c_r.gif); background-position:top right; background-repeat:no-repeat; background-color:#EEECED;}

.copy {font:10px Verdana; color:#000000; padding-left:10px;}

.btmenu 			{font:11px Tahoma, Arial; color:#000000;}
.btmenu a 			{color:#000000; text-decoration:none;}
.btmenu a:hover 	{color:#FF0000; text-decoration:none;}

