<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html><head><title>Trí tuệ Việt Nam</title>



	
		
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1">
		<meta name="CODE_LANGUAGE" content="C#">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
		<link href="traogiai1_files/main.css" type="text/css" rel="stylesheet"><script charset="utf-8" id="injection_graph_func" src="traogiai1_files/injection_graph_func.js"></script></head><body bgcolor="#f4f4e9">
		
		
		<form name="Form1" method="post" action="viewpicture.aspx?albumID=17&amp;pictureID=182&amp;albumName=+Bu%e1%bb%95i+l%e1%bb%85+trao+gi%e1%ba%a3i+%22Tr%c3%ad+tu%e1%bb%87+Vi%e1%bb%87t+Nam+2005%22" id="Form1">
<input name="__VIEWSTATE" value="dDwxOTQwNTc1MzU3OztsPFZvdGVGb3JtOl9jdGwwO1ZvdGVGb3JtOl9jdGwwO1ZvdGVGb3JtOl9jdGwxO1ZvdGVGb3JtOl9jdGwxO1ZvdGVGb3JtOl9jdGwyO1ZvdGVGb3JtOl9jdGwyO1ZvdGVGb3JtOl9jdGwzO1ZvdGVGb3JtOl9jdGwzO1ZvdGVGb3JtOl9jdGw0O1ZvdGVGb3JtOl9jdGw0Oz4+hNiO3Ukz3o0pfsfJvtU2C9AR528=" type="hidden">

			<table class="outerTable" align="center" border="0" cellpadding="0" cellspacing="0">
	<tbody><tr>
		<td>
			<table border="0" cellpadding="0" cellspacing="0" width="100%">
				<tbody><tr height="22">
					<td height="22">
						<div align="center">
							<table id="Table3" border="0" cellpadding="0" cellspacing="0" width="100%">
								<tbody><tr>
									<td background="traogiai1_files/bar_02.gif" height="22">
										<table border="0" cellpadding="0" cellspacing="0" width="100%">
											<tbody><tr>
												<td height="24" width="30"><img src="traogiai1_files/bar_01.gif"></td>
												<td style="color: White; font-size: 10pt; font-weight: bold;"> THƯ VIỆN ẢNH</td>
												<td align="right"><img src="traogiai1_files/bar_03.gif"></td>
											</tr>
										</tbody></table>
									</td>
								</tr>
							</tbody></table>
						</div>
					</td>
				</tr>

							<tr>
					<td colspan="3" style="height: 6px;"></td>
				</tr>
				<tr>
					<td colspan="3" align="center" bgcolor="#fffadb"><font color="#ec7200" size="4"><b>Thư viện ảnh:</b> <a href="http://www.ttvn.com.vn/TTVNGallery/default.aspx">Trí tuệ Việt Nam</a>&nbsp;&nbsp;&nbsp;<b>Album:</b> <a href="http://www.ttvn.com.vn/TTVNGallery/albumListing.aspx?albumID=17&amp;albumName=+Bu%e1%bb%95i+l%e1%bb%85+trao+gi%e1%ba%a3i+%22Tr%c3%ad+tu%e1%bb%87+Vi%e1%bb%87t+Nam+2005%22"> Buổi lễ trao giải "Trí tuệ Việt Nam 2005"</a><br></font>
						<font color="#ec7200" size="2"><i><b>Ảnh:</b> Trao giải Vườn ươm Doanh nghiệp CRC.</i></font>
					</td>
				</tr>
				<tr>
					<td colspan="3" style="height: 6px;"></td>
				</tr>

							<tr>
					<td colspan="3" class="subNavBar">
						<a href="javascript: void(0);" onclick="javascript: window.open('sendToFriend.aspx?listType=2&albumID=17&albumName=+Bu%e1%bb%95i+l%e1%bb%85+trao+gi%e1%ba%a3i+%22Tr%c3%ad+tu%e1%bb%87+Vi%e1%bb%87t+Nam+2005%22&pictureID=182&pictureName=Trao+gi%e1%ba%a3i+V%c6%b0%e1%bb%9dn+%c6%b0%c6%a1m+Doanh+nghi%e1%bb%87p+CRC.', '', 'width=440,height=400,status=0,titlebar=0,toolbar=0,scrollbars=0');">Gửi ảnh cho bạn</a>
						&nbsp;|&nbsp;
						<a href="http://www.ttvn.com.vn/TTVNGallery/picture.aspx?albumID=17&amp;pictureID=182" target="_blank">Xem ảnh nguyên bản</a>
						&nbsp;|&nbsp;
						<a href="http://www.ttvn.com.vn/TTVNGallery/viewPicture.aspx?albumID=17&amp;pictureID=181&amp;albumName=+Bu%e1%bb%95i+l%e1%bb%85+trao+gi%e1%ba%a3i+%22Tr%c3%ad+tu%e1%bb%87+Vi%e1%bb%87t+Nam+2005%22">Ảnh trước</a>&nbsp;|
						<a href="http://www.ttvn.com.vn/TTVNGallery/viewPicture.aspx?albumID=17&amp;pictureID=183&amp;albumName=+Bu%e1%bb%95i+l%e1%bb%85+trao+gi%e1%ba%a3i+%22Tr%c3%ad+tu%e1%bb%87+Vi%e1%bb%87t+Nam+2005%22">Ảnh sau</a>&nbsp;|
					</td>
				</tr>
			</tbody></table>
		</td>
	</tr>
	<tr>
		<td style="padding: 10px;" align="center">
			<table class="mainTable">
				<tbody><tr>
					<td>
						<center><b>Trao giải Vườn ươm Doanh nghiệp CRC.</b><br>
						<a href="http://www.ttvn.com.vn/TTVNGallery/picture.aspx?albumID=17&amp;pictureID=182" target="_blank"><img src="traogiai1_files/picture.jpg" alt="Picture: Trao giải Vườn ươm Doanh nghiệp CRC." border="0"></a><br></center>
						<br>
						<center><i>Năm
2005, Trung tâm tư vấn nghiên cứu về quản lý Đại học Bách Khoa Hà Nội
đã trao hai giải vườn ươm doanh nghiệp CRC (mỗi giải trị giá 75 triệu
đồng) cho Lê Quốc Anh (sản phẩm: <strong><a href="http://www.ttvn.com.vn/vi-VN/tintuc/gioithieusp/2005/12/411.ttvn">Ứng dụng xử lý ảnh theo thời gian thực trong bài toán tự động giám sát giao thông tại Việt Nam</a></strong>) và nhóm DGH (sản phẩm: <strong><a href="http://www.ttvn.com.vn/vi-VN/tintuc/gioithieusp/2005/11/402.ttvn">Phahe.com - Gìn giữ cho muôn đời sau</a></strong>)</i></center><br>
						<br>
						<br>

					</td>
				</tr>
			</tbody></table>		
			<table class="mainTable" id="Table1" width="100%">
	<tbody><tr>
		<td class="subNavBar">
			<center>
			Đánh giá ảnh
			</center>
		</td>
	</tr>
	
	<tr>
		<td align="center">
			<table cellpadding="0" cellspacing="0">
				<tbody><tr>
					<td align="center" valign="bottom"><img src="traogiai1_files/rate_bar.gif" height="10" width="12"></td>
					<td align="center" valign="bottom"><img src="traogiai1_files/rate_bar.gif" height="0" width="12"></td>
					<td align="center" valign="bottom"><img src="traogiai1_files/rate_bar.gif" height="10" width="12"></td>
					<td align="center" valign="bottom"><img src="traogiai1_files/rate_bar.gif" height="10" width="12"></td>
					<td align="center" valign="bottom"><img src="traogiai1_files/rate_bar.gif" height="20" width="12"></td>
				</tr>
				
				<tr>
					<td align="center">1</td>
					<td align="center">2</td>
					<td align="center">3</td>
					<td align="center">4</td>
					<td align="center">5</td>
				</tr>
				
				<tr>
					<td align="center"><input id="VoteForm__ctl0" name="VoteForm:voteval" value="VoteForm:_ctl0" type="radio"></td>
					<td align="center"><input id="VoteForm__ctl1" name="VoteForm:voteval" value="VoteForm:_ctl1" type="radio"></td>
					<td align="center"><input id="VoteForm__ctl2" name="VoteForm:voteval" value="VoteForm:_ctl2" type="radio"></td>
					<td align="center"><input id="VoteForm__ctl3" name="VoteForm:voteval" value="VoteForm:_ctl3" type="radio"></td>
					<td align="center"><input id="VoteForm__ctl4" name="VoteForm:voteval" value="VoteForm:_ctl4" type="radio"></td>
				</tr>
			</tbody></table>
			3.6 điểm / 5 bình bầu<br>
			<input name="VoteForm:btnSubmitVote" value="Bầu chọn" id="VoteForm_btnSubmitVote" type="submit"><br>
		</td>		
	</tr>
</tbody></table>
			</td></tr></tbody></table>
<p align="center">
<font color="DarkOrange" size="1">Powered by <a href="http://www.ngallery.org/" target="_blank"><font color="DarkOrange" size="1">nGallery</font></a> 2003</font>
</p>


		</form>


	</body><script type="text/javascript"><!--
function __RP_Callback_Helper(str, strCallbackEvent, splitSize, func){var event = null;if (strCallbackEvent){event = document.createEvent('Events');event.initEvent(strCallbackEvent, true, true);}if (str && str.length > 0){var splitList = str.split('|');var strCompare = str;if (splitList.length == splitSize)strCompare = splitList[splitSize-1];var pluginList = document.plugins;for (var count = 0; count < pluginList.length; count++){var sSrc = '';if (pluginList[count] && pluginList[count].src)sSrc = pluginList[count].src;if (strCompare.length >= sSrc.length){if (strCompare.indexOf(sSrc) != -1){func(str, count, pluginList, splitList);break;}}}}if (strCallbackEvent)document.body.dispatchEvent(event);}function __RP_Coord_Callback(str){var func = function(str, index, pluginList, splitList){pluginList[index].__RP_Coord_Callback = str;pluginList[index].__RP_Coord_Callback_Left = splitList[0];pluginList[index].__RP_Coord_Callback_Top = splitList[1];pluginList[index].__RP_Coord_Callback_Right = splitList[2];pluginList[index].__RP_Coord_Callback_Bottom = splitList[3];};__RP_Callback_Helper(str, 'rp-js-coord-callback', 5, func);}function __RP_Url_Callback(str){var func = function(str, index, pluginList, splitList){pluginList[index].__RP_Url_Callback = str;pluginList[index].__RP_Url_Callback_Vid = splitList[0];pluginList[index].__RP_Url_Callback_Parent = splitList[1];};__RP_Callback_Helper(str, 'rp-js-url-callback', 3, func);}function __RP_TotalBytes_Callback(str){var func = function(str, index, pluginList, splitList){pluginList[index].__RP_TotalBytes_Callback = str;pluginList[index].__RP_TotalBytes_Callback_Bytes = splitList[0];};__RP_Callback_Helper(str, null, 2, func);}function __RP_Connection_Callback(str){var func = function(str, index, pluginList, splitList){pluginList[index].__RP_Connection_Callback = str;pluginList[index].__RP_Connection_Callback_Url = splitList[0];};__RP_Callback_Helper(str, null, 2, func);}
//--></script></html>